@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@keyframes autofill {
  0%,
  100% {
    color: rgb(241 134 111);
    background: transparent;
  }
}
body {
  margin: 0;
}
nav {
  font-family: 'Roboto Slab', serif;
  width: 95vw;
  text-shadow: 1.3px 1.3px rgb(241 134 111);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1em;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
  -webkit-text-stroke-width: 1px;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.yo {
  padding: 39px;
}
a {
  color: rgb(77 188 238);
  display: flex;
  justify-content: center;
}
a:hover {
  text-decoration: none;
  color: rgb(241 134 111);
  text-shadow: rgb(69, 161, 197);
}
a:link {
  text-decoration: none;
  color: rgb(241 134 111);
  text-shadow: rgb(69, 161, 197);
}
.title {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: rgb(241 134 111);
  -webkit-text-stroke-width: 3px;
  font-size: 55px;
  background-color: rgb(159 219 238);
  padding: 3px;
  margin: 9px;
  width: 100vw;
}
.aboutme {
  background-image: url('https://i.pinimg.com/736x/d6/59/08/d659088b8fc4159da000df192ebede9c.jpg');
  background-size: cover;
  height: 100vh;
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
  color: rgb(69, 161, 197);
  text-shadow: 1.3px 1.3px rgb(35, 82, 176);
  text-align: center;
  display: flex;
  justify-content: center;
}
.para {
  height: 82vh;
  width: 60vw;
  margin-top: 83px;
  margin-right: 83px;
  border: 10px solid rgb(241 134 111);
  display: flex;
  justify-content: flex-end;
}
.parag {
  display: block;
}
.intro {
  color: rgb(241 134 111);
  text-shadow: 1.5px 1.5px rgb(149, 171, 215);
  width: 30vw;
  height: 50vh;
  padding-left: 72px;
  padding-top: 72px;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-style: bold;
}

.formsub {
  background-image: url('https://i.pinimg.com/736x/d6/59/08/d659088b8fc4159da000df192ebede9c.jpg');
  background-size: cover;
}
.form {
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  border: 5px solid rgb(241 134 111);
  border-style: dotted;
  font-family: 'Roboto Slab', serif;
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.6px rgb(69, 161, 197);
  font-size: 33px;
  display: flex;
  justify-content: center;
}
.formcolor {
  color: rgb(69, 161, 197);
}
.formcolor:autofill {
  color: rgb(69, 161, 197);
}
.message {
  height: 13vh;
  color: rgb(69, 161, 197);
}
.comment {
  height: 13vh;
}
.city {
  border-radius: 60%;
}
.cities {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: fit-content;
  background-color: rgb(159 219 238);
  color: rgb(241 134 111);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  margin: 5px;
}
button {
  font-size: 17px;
  margin: 5px;
  color: rgb(241 134 111);
  border: 2px solid grey;
  border-radius: 10rem;
  background-color: white;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  background-color: rgb(201, 227, 237);
  cursor: pointer;
}
.des {
  font-family: 'Roboto Slab', serif;
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.3px rgb(35, 82, 176);
  font-size: 27px;
  text-align: center;
  margin: 10px;
}
.des1 {
  font-family: 'Roboto Slab', serif;
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.3px rgb(35, 82, 176);
  font-size: 44px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.cityname {
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  color: rgb(241 134 111);
  text-align: center;
  padding: 0;
  margin: 0;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cityimage {
  border-radius: 50%;
  height: 333px;
  width: 333px;
  margin: 30px;
  filter: brightness(77%);
}
.cityimage:hover {
  cursor: pointer;
  filter: brightness(100%);
}
.hello {
  color: rgb(241 134 111);
  text-shadow: 2px 2px rgb(159 219 238);
  padding-top: 151px;
  padding-right: 33px;
  padding-bottom: 111px;
  padding-left: 77px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

.display {
  display: flex;
  flex-wrap: wrap;
}
.commentinfo {
  margin-top: 10px;
  border: 5px solid rgb(241 134 111);
  width: 50vw;
  background-color: rgb(159 219 238);
}
input[type='text'] {
  font-size: 22px;
}
input:-webkit-autofill {
  color: rgb(241 134 111);
}
.name-comment {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.send {
  width: 11vw;
  height: 5vh;
  border: 2px solid rgb(241 134 111);
  font-weight: 900;
  font-family: 'Roboto Slab', serif;
}
.comform {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.3px rgb(69, 161, 197);
  font-size: 23px;
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(241 134 111);
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(159 219 238);
  width: 50vw;
}
.name {
  color: rgb(241 134 111);
}
.comment {
  color: rgb(241 134 111);
}
.form-submit {
  width: 7vw;
  font-size: 20px;
  margin-top: 13px;
}
.fo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rev {
  background-color: white;
}
.add {
  font-family: 'Roboto Slab', serif;
}
.edittext {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(241 134 111);
  font-size: 20px;
}
