@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
nav {
  font-family: 'Delius', cursive;
  width: 95vw;
  text-shadow: 2px 2px rgb(133, 163, 224);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1em;
  font-size: 30px;
  font-weight: bold;
}
a {
  color: rgb(159 219 238);
}
.aboutme {
  font-family: 'Delius', cursive;
  color: rgb(69, 161, 197);
  text-shadow: 1.3px 1.3px rgb(35, 82, 176);
  font-size: 20px;
  padding: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.para {
  border-radius: 40%;
  height: 75vh;
}
.parag {
  display: block;
}
.intro {
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.3px rgb(149, 171, 215);
  width: 30vw;
  height: 50vh;
  padding-left: 80px;
  padding-top: 151px;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Delius', cursive;
}
.formsub {
  background-image: url('https://i.pinimg.com/736x/d6/59/08/d659088b8fc4159da000df192ebede9c.jpg');
  background-size: cover;
  height: 100vh;
}
.form {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.message {
  height: 13vh;
}
.comment {
  height: 13vh;
}
.city {
  border-radius: 60%;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(35, 82, 176);
  text-shadow: 1.3px 1.3px rgb(69, 161, 197);
  font-size: 23px;
  padding: 14px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(5, 35, 95);
  text-shadow: 1.3px 1.6px rgb(69, 161, 197);
  font-size: 39px;
  padding-top: 55px;
  display: flex;
  justify-content: center;
}
button {
  font-size: 17px;
  margin: 5px;
  color: rgb(5, 35, 95);
  background-color: white;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  background-color: rgb(201, 227, 237);
  cursor: pointer;
}
.des {
  font-family: 'Delius', cursive;
  color: rgb(69, 161, 197);
  text-shadow: 1.3px 1.3px rgb(35, 82, 176);
  font-size: 44px;
  padding-top: 44px;
  text-align: center;
  margin: 20px;
}
.cityname {
  color: rgb(45, 45, 180);
  text-align: center;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cityimage {
  border-radius: 50%;
  height: 333px;
  width: 333px;
}
.cityimage:hover {
  cursor: pointer;
}
.display {
  display: flex;
  flex-wrap: wrap;
}
.commentinfo {
  margin-top: 50px;
  border: 1px solid rgb(45, 45, 180);
  width: 50vw;
  background-color: rgb(173, 221, 240);
}
input[type='text'] {
  font-size: 24px;
}
.name-comment {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 40vw;
}
