@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
nav {
  font-family: 'Delius', cursive;
  width: 95vw;
  text-shadow: 2px 2px rgb(133, 163, 224);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  font-size: 30px;
  font-weight: bold;
}
a {
  color: rgb(21, 197, 179);
}
.aboutme {
  color: rgb(61 162 203);
  text-shadow: 1.3px 1.3px rgb(133, 163, 224);
  font-size: 20px;
  padding: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 77vh;
}
.para {
  border-radius: 40%;
  height: 77vh;
}
.parag {
  display: block;
}
