@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
nav {
  font-family: 'Delius', cursive;
  width: 95vw;
  text-shadow: 2px 2px rgb(133, 163, 224);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1em;
  font-size: 30px;
  font-weight: bold;
}
a {
  color: rgb(159 219 238);
}
.aboutme {
  font-family: 'Delius', cursive;
  color: rgb(69, 161, 197);
  text-shadow: 1.3px 1.3px rgb(35, 82, 176);
  font-size: 20px;
  padding: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.para {
  border-radius: 40%;
  height: 75vh;
}
.parag {
  display: block;
}
.intro {
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.3px rgb(149, 171, 215);
  width: 30vw;
  height: 50vh;
  padding-left: 80px;
  padding-top: 181px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Delius', cursive;
}
.form {
  background-image: url('https://i.pinimg.com/736x/d6/59/08/d659088b8fc4159da000df192ebede9c.jpg');
  background-size: cover;
  height: 93vh;
}
.cityimage {
  border-radius: 60%;
}
.cityname {
  color: blue;
}
.cityinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
