@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
nav {
  font-family: 'Delius', cursive;
  width: 95vw;
  text-shadow: 1px 1px rgb(241 134 111);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1em;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}
a {
  color: rgb(157 220 236);
}
.title {
  text-align: center;
  font-family: 'Delius', cursive;
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.6px rgb(69, 161, 197);
  font-size: 55px;
  background-color: rgb(159 219 238);
  padding: 3px;
  margin: 9px;
}
.aboutme {
  background-image: url('https://i.pinimg.com/736x/d6/59/08/d659088b8fc4159da000df192ebede9c.jpg');
  background-size: cover;
  height: 100vh;
  margin-top: 20px;
  font-family: 'Delius', cursive;
  color: rgb(69, 161, 197);
  text-shadow: 1.3px 1.3px rgb(35, 82, 176);
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.para {
  height: 80vh;
  width: 50vw;
  margin-top: 70px;
  margin-right: 70px;
  border: 5px solid rgb(241 134 111);
  display: flex;
  justify-content: flex-end;
}
.parag {
  display: block;
}
.intro {
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.3px rgb(149, 171, 215);
  width: 30vw;
  height: 50vh;
  padding-left: 72px;
  padding-top: 60px;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Delius', cursive;
}

.formsub {
  background-image: url('https://i.pinimg.com/736x/d6/59/08/d659088b8fc4159da000df192ebede9c.jpg');
  background-size: cover;
  height: 100vh;
}
.form {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  border: 5px solid rgb(241 134 111);
  border-style: dotted;
  font-family: 'Delius', cursive;
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.6px rgb(69, 161, 197);
  font-size: 33px;
  display: flex;
  justify-content: center;
}
.message {
  height: 13vh;
}
.comment {
  height: 13vh;
}
.city {
  border-radius: 60%;
}
.cities {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.3px rgb(69, 161, 197);
  font-size: 23px;
  padding: 14px;
}

button {
  font-size: 17px;
  margin: 5px;
  color: rgb(241 134 111);
  border: 2px solid grey;
  border-radius: 10rem;
  background-color: white;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  background-color: rgb(201, 227, 237);
  cursor: pointer;
}
.des {
  font-family: 'Delius', cursive;
  color: rgb(69, 161, 197);
  text-shadow: 1.3px 1.3px rgb(35, 82, 176);
  font-size: 44px;
  padding-top: 44px;
  text-align: center;
  margin: 20px;
}

.cityname {
  color: rgb(45, 45, 180);
  text-align: center;
  padding: 0;
  margin: 0;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cityimage {
  border-radius: 50%;
  height: 333px;
  width: 333px;
  margin: 30px;
  filter: brightness(100%);
}
.hello {
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.3px rgb(149, 171, 215);
  margin-left: 33px;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Delius', cursive;
}
.cityimage:hover {
  cursor: pointer;
  filter: brightness(50%);
}
.display {
  display: flex;
  flex-wrap: wrap;
}
.commentinfo {
  margin-top: 50px;
  border: 1px solid rgb(241 134 111);
  width: 50vw;
  background-color: rgb(191, 224, 236);
}
input[type='text'] {
  font-size: 22px;
  color: rgb(241 134 111);
}
.name-comment {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.send {
  width: 11vw;
  height: 5vh;
  border: 2px solid grey;
}
.comform {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(241 134 111);
  text-shadow: 1.3px 1.3px rgb(69, 161, 197);
  font-size: 23px;
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(241 134 111);
  border-style: dotted;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.form-submit {
  width: 7vw;
  font-size: 20px;
}
.fo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
