@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
nav {
  font-family: 'Delius', cursive;
  width: 95vw;
  text-shadow: 2px 2px rgb(133, 163, 224);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1em;
  font-size: 30px;
  font-weight: bold;
}
a {
  color: rgb(21, 197, 179);
}
.aboutme {
  color: rgb(61 162 203);
  text-shadow: 1.3px 1.3px rgb(133, 163, 224);
  font-size: 20px;
  padding: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.para {
  border-radius: 40%;
  height: 79vh;
}
.parag {
  display: block;
}
.intro {
  color: rgb(21, 197, 179);
  text-shadow: 1.3px 1.3px rgb(133, 163, 224);
  width: 30vw;
  height: 50vh;
  padding-left: 80px;
  padding-top: 200px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background-image: url('https://i.pinimg.com/736x/d6/59/08/d659088b8fc4159da000df192ebede9c.jpg');
  background-size: cover;
  height: 93vh;
}
